#h1 {
     background-color: bisque;
     color: aqua;
}

.class1
        {color: magenta;
        text-align: center;}
.class2
        {
            color:aquamarine;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            background-color: darkorchid;
        }
body
    { 
        font-style: oblique;
        font-family: 'Segoe UI';
    color: blueviolet;
    font-size: medium;}
header
    {
         color: coral;
    font-style: unset;}
p,h1{
    color: pink
}
div h1{
    color: blue;
}
h5{
    text-decoration: wavy;
    text-indent: 60%;
    word-spacing: 10px;
    letter-spacing: 3px;
    line-height: 10px;
    text-transform: capitalize;
}
h3{
    padding-top:10px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 20px;
    margin-top:20px;
    margin-left: 10px;
    border: 90px solid blue;
    border-style: groove;
}
h2{
    position: relative;
    left: 50px;
    top: 100px;
}
h4{
     position: absolute;
    left: 50px;
    top: 200px;
}
h6{
   position: fixed;
    left: 50px;
    top: 300px;
}
.box1{
    float:left;
    width: 50px;
    height: 90px;
    background-color: pink;
    width: 50%;
}
.box2{
    float: right;
    width: 70px;
    height: 20px;
    background-color: purple;
    width: 80%;
    top: auto;
}